{% extends 'base.html.twig' %}
{% block title 'Agence Immo' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Agence Immo!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary" href="#" role="button">en savoir +</a>
        </p>
    </div>
    <div class="container">
        <div class="col">
            <h2>Nos nouvelles offres</h2>
        <div class="row justify-content-center">
            {% for property in properties %}
            <div class="col-md-4 m-2">
                <a title="Vente {{ property.city }}" class="lien-bien" href="{{ path('property.show',{id:property.id,slug:property.slug}) }}"></a>
                <div class="infos-biens-vignettes">
                    <p class="prix-vignette"> {{ property.formattedPrice }} &euro; *</p>
                    <p class="surface-vignette"> {{ property.surface }} m²</p>
                    <p class="exclusif-vignette">Exclusif</p>
                </div>
                <h3 class="vignette">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('thumb') }}" alt="{{ property.title }}">
                    {% else %}
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="">
                    {% endif %}
                </h3>
                <h4>{{ property.title }} {{ property.rooms }} pièces</h4>
                <p>{{ property.city|upper }} ({{ property.postalCode }})</p>
                <div><div class="pull-left" style="font-size:12px;margin-bottom:10px !important;margin-top:-10px !important">(*) Frais d'agence inclus</div><div class="pull-right btn-details"><a id="" class="btn-details" href="">Voir le bien</a></div><div class="clearfix"></div></div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}

