{% extends 'base.html.twig' %}
{% block title 'Gestions des offres' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="h4">Administration - Gestion des offres !</h1>
    </div>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <i class="fas fa-check-square mr-2"></i>{{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th class="text-center">Pièces</th>
                <th class="text-center">Chambres</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
            <tr>
                <td class="text-capitalize text-primary">{{ property.title }}</td>
                <td class="text-center">{{ property.rooms }}</td>
                <td class="text-center">{{ property.bedrooms }}</td>
                <td class="text-black-50">{{ property.adress }}</td>
                <td class="text-black-50"><strong>{{ property.city }}</strong></td>
                <td class="text-primary"><strong>{{ property.formattedPrice }} &euro;</strong></td>
                <td>
                    <a href="{{ path('admin.property.edit',{id:property.id}) }}" class="btn btn-info mr-2"><i class="far fa-edit"></i></a>
                    <form method="post" action="{{ path('admin.property.delete',{id:property.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette offre ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-warning mb-3">Nouvelle Offre</a>
        </div>

    </div>
{% endblock %}

