{% extends 'base.html.twig' %}
{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <i class="fas fa-check-square mr-2"></i>{{ message }}
                </div>
            {% endfor %}
            {% if not form.vars.valid %}
                <div class="div alert alert-danger">
                    Erreur ! Formulaire de contact non valide.
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% if property.picture %}
                        <img src="{{ vich_uploader_asset(property.picture,'imageFile') | imagine_filter('medium') }}" alt="{{ property.title }}">
                    {% else %}
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 3em;font-weight: bold;">{{ property.formattedPrice }} &euro;</div>
                    <a href="#" class="btn btn-primary btn-sm" id="contactButton"{% if form.vars.submitted %} style="display: none;"{% endif %}>Contactez nous</a>
                    <div id="contactForm" class="mt-4"{% if not form.vars.submitted %} style="display: none;"{% endif %}>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-secondary btn-sm">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <nav class="nav nav-tabs" id="tabs">

        </nav>
        <p>{{ property.description|nl2br }}</p>
        <div class="row">
            <div class="col-md-8">
                <h3>Caractéristiques</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable :</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces :</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambre :</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Ètage :</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage :</td>
                        <td>{{ property.heatType|capitalize }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Spécificités</h3>
                <ul class="list-group">
                    {% for key, option in property.options %}
                        <li class="list-group-item {{ key%2 == 0 ? 'list-group-item-info':'' }}">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


